html {
  box-sizing: border-box;
}
html *,
html *::before,
html *::after {
  box-sizing: inherit;
}
html * {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr -webkit-max-content;
  grid-template-rows: 1fr max-content;
  background-color: hsl(207deg, 61%, 95%);
  color: hsl(207deg, 61%, 20%);
}

.contact-bar {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.contact-section {
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3em;
}
.contact-section h1 {
  font-size: x-large;
}

.content-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 0;
  padding-right: 3rem;
}

.footer {
  font-size: small;
  text-align: center;
}

.name-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3rem;
}
.name-section h1 {
  text-transform: uppercase;
}
.name-section h2 {
  text-transform: uppercase;
  font-size: large;
  font-weight: unset;
}

.skill-circle-0 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-0::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  rotate: 45deg;
}
.skill-circle-0::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: -45deg;
}
.skill-circle-0 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-5::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-5::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: -27deg;
}
.skill-circle-5 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-10 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-10::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-10::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: -9deg;
}
.skill-circle-10 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-15::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-15::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 9deg;
}
.skill-circle-15 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-20 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-20::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-20::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 27deg;
}
.skill-circle-20 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-25 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-25::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-25::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 45deg;
}
.skill-circle-25 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-30 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-30::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  border-right-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-30::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 63deg;
  border-left-color: transparent;
}
.skill-circle-30 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-35 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-35::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  border-right-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-35::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 81deg;
  border-left-color: transparent;
}
.skill-circle-35 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-40 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-40::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  border-right-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-40::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 99deg;
  border-left-color: transparent;
}
.skill-circle-40 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-45 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-45::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  border-right-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-45::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 117deg;
  border-left-color: transparent;
}
.skill-circle-45 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-50 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-50::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  border-right-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-50::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 135deg;
  border-left-color: transparent;
}
.skill-circle-50 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-55 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-55::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  border-right-color: hsl(207deg, 61%, 20%);
  border-bottom-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-55::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 153deg;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.skill-circle-55 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-60 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-60::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  border-right-color: hsl(207deg, 61%, 20%);
  border-bottom-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-60::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 171deg;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.skill-circle-60 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-65 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-65::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  border-right-color: hsl(207deg, 61%, 20%);
  border-bottom-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-65::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 189deg;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.skill-circle-65 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-70 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-70::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  border-right-color: hsl(207deg, 61%, 20%);
  border-bottom-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-70::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 207deg;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.skill-circle-70 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-75 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-75::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  border-right-color: hsl(207deg, 61%, 20%);
  border-bottom-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-75::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 225deg;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
.skill-circle-75 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-80 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-80::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  border-right-color: hsl(207deg, 61%, 20%);
  border-bottom-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-80::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 243deg;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: hsl(207deg, 61%, 20%);
}
.skill-circle-80 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-85 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-85::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  border-right-color: hsl(207deg, 61%, 20%);
  border-bottom-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-85::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 261deg;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: hsl(207deg, 61%, 20%);
}
.skill-circle-85 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-90 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-90::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  border-right-color: hsl(207deg, 61%, 20%);
  border-bottom-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-90::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 279deg;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: hsl(207deg, 61%, 20%);
}
.skill-circle-90 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-95 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-95::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  border-right-color: hsl(207deg, 61%, 20%);
  border-bottom-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-95::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 297deg;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: hsl(207deg, 61%, 20%);
}
.skill-circle-95 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.skill-circle-100 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 5em;
  height: 5em;
  padding: 0.5em;
  box-shadow: 0px 0px 0px 1px hsl(207deg, 61%, 20%);
  border-radius: 50%;
  color: hsl(207deg, 61%, 20%);
}
.skill-circle-100::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid transparent;
  border-top-color: hsl(207deg, 61%, 20%);
  border-right-color: hsl(207deg, 61%, 20%);
  border-bottom-color: hsl(207deg, 61%, 20%);
  rotate: 45deg;
}
.skill-circle-100::after {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  border: 0.5em solid hsl(207deg, 61%, 95%);
  border-top-color: transparent;
  rotate: 315deg;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: hsl(207deg, 61%, 20%);
}
.skill-circle-100 > * {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: hsl(207deg, 61%, 95%);
  height: 100%;
  width: 100%;
  border-radius: inherit;
  border: 1px solid hsl(207deg, 61%, 20%);
}

.content-container > * {
  padding-left: 3rem;
}
.content-container p {
  margin-top: 0.5em;
  text-align: justify;
}
.content-container .header {
  background-color: hsl(207deg, 61%, 95%);
  color: hsl(207deg, 61%, 20%);
  padding-left: 0;
  border-top-right-radius: 50vmax;
  border-bottom-right-radius: 50vmax;
}
.content-container .header h1 {
  margin-left: 3rem;
}
.content-container .rows-content {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.cv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.cv__header {
  display: grid;
  grid-template-columns: 50% auto 1fr;
  justify-content: stretch;
  position: relative;
}
.cv__header .name-section {
  background-color: hsl(207deg, 61%, 20%);
  color: hsl(207deg, 61%, 95%);
  height: 8rem;
  border-bottom-right-radius: 3.5rem 1.5rem;
}
.cv__header .divider {
  border-top: 6.97rem solid hsl(207deg, 61%, 20%);
  border-right: 4.1rem solid transparent;
  position: relative;
  right: 0.16rem;
}
.cv__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cv__content > :first-child {
  background-color: hsl(207deg, 61%, 20%);
  color: hsl(207deg, 61%, 95%);
}