@use '../configs/colors';
@use '../configs/spaces';
@use '../utils/fancy-header-bg';

.cv {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__header {
        $height: 8rem;

        display: grid;
        grid-template-columns: 60% auto 1fr;

        .name-wrapper {
            @include fancy-header-bg.style($height, colors.$fg-secondary, colors.$bg-secondary);
            height: $height;
            > * {
                padding-left: spaces.$main;
            }
        }
    }

    &__content {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;

        > :first-child {
            background-color: colors.$bg-secondary;
            color: colors.$fg-secondary;
            border-top-right-radius: 2rem;

            ul {
                list-style: inside;
                font-size: smaller;
            }
        }

        > :last-child {
            .content-container {
                gap: 1rem;
                justify-content: space-around;
            }
        }
    }
}