@use '../configs/colors';
@use '../configs/spaces';

.content-container {

    height: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2em;

    > * {
        padding-left: spaces.$main;
    }

    p {
        margin-bottom: 0.2em;
        text-align: justify;
        line-height: 130%;

        .smallCaps {
            font-size: large;
            text-decoration: underline;
            line-height: 110%;
        }
    }

    h2 {
        font-size: large;
        margin-bottom: 0.5em;
        line-height: 110%;
        letter-spacing: 1px;
        .smallCaps {
            font-weight: 400;
        }
    }

    ul {
        list-style: inside;
    }

    .header {
        background-color: colors.$bg-primary;
        color: colors.$fg-primary;
        padding-left: 0;
        margin-bottom: 0.6em;
        border-top-right-radius: 50vmax;
        border-bottom-right-radius: 50vmax;

        h1 {
            margin-left: spaces.$main;
        }
    }

    .rows-content {
        margin: 1rem 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }

    .date {
        font-size: small;
        letter-spacing: 1px;
    }

    .content-section {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}