@use '../configs/spaces';

.content-column {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-top: spaces.$main;
    padding-bottom: spaces.$main;
    padding-left: 0;
    padding-right: spaces.$main;
}