@use '../configs/colors';

.footer {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-top: 0.5em;
    border-top: 1px solid;
    font-size: smaller;
    text-align: center;

    .info-bar {
        color: colors.$fg-secondary;
        background-color: colors.$bg-secondary;
        padding: 0.1em 0;
        opacity: 0.8;
    }
}